<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	<link href="{{ url_for('static',filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
	<title>HOME PAGE</title>
	<script type="text/javascript">
		function disableButton() {
			document.getElementById("bottoneEntra").disabled = true;
			document.getElementById("idUtente").setAttribute('readonly', true);
			document.getElementById("btn").disabled = true;
			}
	</script>
</head>
<body>
	<div class="row full-height">
		<div class="column left">
		</div>

		<div class="column middle" style="border: thin solid lightblue;">
			<div align="center">
				<h1>BENVENUTO</h1>
				<img src="{{ url_for('static',filename='images/homer.png') }}" width="350" height="160">
				<h3>RECOMMENDER SYSTEM COLLABORATIVE FILTERING</h3>
                
                <p>
					dataset <a href="https://grouplens.org/datasets/movielens/">MovieLens</a> <i>(ml-latest-small)</i><br>
				</p>
                <p>
                    <b>Descrizione dataset</b><br>
                    NUMERO DI UTENTI: 600<br>
                    NUMERO DI FILM: 9.000<br>
                    NUMERO DI RATING: 100.000<br>
                </p>

                <p>
                    <b>Caso d'uso</b><br>
                    Gli utenti sono memorizzati anonimamente nel dataset con un intero: da 1 a 610<br>
					Inserisci l'id dell'utente e schiaccia il bottone <b>ENTRA</b>.<br>
					Una volta entrato nel sistema saranno mostrati tutti i rating dati dall'utente selezionato.<br>
					È possibile generare una raccomandazione per l'utente con tre metodi differenti.<br>
					È descritto come avviene la predizione e la valutazione del RS.
                </p>


                <form action= {{url_for('selezionaUtente') }} method="POST" onsubmit="disableButton()">
                    <label for="idUtente">ID utente:</label>
                    <input type="number" min="1" max="610"  id="idUtente" name="idUtente">
                    <input type="submit" value="ENTRA" id="bottoneEntra"/>
                </form>

				<hr style="border: 1px solid lightblue;">

				<div>
				  <img align="center" class="avatar" src="{{ url_for('static',filename='images/boy.png') }}" alt="Avatar" class="avatar" width="40%">
				  <p>
					  Vuoi scoprire delle predizioni per te?<br>
					  <form action= {{ url_for('nuovoUtente') }} method="POST" onsubmit="disableButton()">
						<input type="submit" value="sì" id="btn" />
					</form>
				  </p>
  
				</div>
			</div>
		</div>

		<div class="column right">
			<p style="color:grey;font-size:10px; writing-mode: tb-rl;">credit ©Mario Cuomo</p>
		</div>
	</div>

</body>
</html>