<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mostraRating.css') }}">
    <title>RATINGS</title>
    <link href="{{ url_for('static',filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="{{url_for('static', filename='functions.js')}}"></script>

    <style>
        th, td {
        padding : 10px;
        border : 1px solid #666;
        }
        thead {
            align-content: center;
        }
        .avatar {
            vertical-align: middle;
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    </style>

    <script type="text/javascript">
        function disableButton() {
            lst = document.getElementsByClassName('inp');
            for (const x of lst) {
                x.setAttribute('readonly', true);
            }

            document.getElementById("idUtente").setAttribute('readonly', true);

            lst = document.getElementsByClassName('btn');
            for (const x of lst) {
                x.disabled = true;
                x.removeAttribute('href');
            }
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="column left">
            <div align="center">
                <h2>
                    RATING DELL'UTENTE {{utente}}
                </h2>
                {% for table in tables %}
                    {{titles[loop.index]}}
                    {{ table|safe }}
                {% endfor %}
            </div>      
            
        </div>
        <div class="column right" style="border-left: 4px solid lightblue;">
            <div align="center">
                <canvas id="barChart" width="500" height="400"></canvas>

                <canvas id="lineChart" width="500" height="300"></canvas>

            </div>
            <script>
                var ctx= document.getElementById("barChart").getContext("2d");
                    var barChart = new Chart(ctx, {
                        type: "bar",
                        data: {
                            labels: {{ labels | safe }},
                            datasets: [
                                {
                                    data: {{ values | safe }},
                                    backgroundColor: [
                                        "orange","aqua", "salmon", "darkgray", "pink", "coral", "red", "green", "blue", "purple", "magenta", "yellow", "lightblue","violet","lightgreen","purple","darkred"
                                    ],
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            responsive: true,
                            maintainAspectRatio: true,
                            title: {
                                display: true,
                                text: 'CATEGORIE RATED',
                            },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        beginAtZero: true   // minimum value will be 0.
                                    }
                                }]
                            }
                        }
                    });
                
                var ctx1= document.getElementById("lineChart").getContext("2d");
                var lineChart = new Chart (ctx1, {
                    type: "line",
                    data: {
                        labels: {{ film | safe }},
                        datasets: [
                            {
                                label: 'utente ' + {{ utente }},
                                data: {{ voti1 | safe }},
                                fill: false,
                                borderColor: "rgb(43, 58, 196)",
                                lineTension: 0.05,
                                borderWidth: 2 
                            },
                            {
                                label: 'utente ' + {{ iduser2 }} + ' similarità:' + {{ similarita2 }},
                                data: {{ voti2 | safe }},
                                fill: false,
                                borderColor: "rgb(185, 192, 192)",
                                lineTension: 0.05,
                                borderWidth: 2 
                            },
                            {
                                label: 'utente ' + {{ iduser3 }} + ' similarità:' + {{ similarita3 }},
                                data: {{ voti3 | safe }},
                                fill: false,
                                borderColor: "rgb(75, 192, 192)",
                                lineTension: 0.05,
                                borderWidth: 2 
                            }
                        ]
                    },
                    options: {
                        legend:{
                            position:'bottom',
                        },
                        bezierCurve : true,
                        responsive: true,
                        maintainAspectRatio: true,
                        elements: {
                            point:{
                                radius: 0
                            }
                        },
                        title: {
                                display: true,
                                text: 'RATING UTENTI',
                        },
                    }
                });

                    
            </script>
            <form style="padding-bottom: 10px;" id="form" action="/predizione" method="post" onsubmit="disableButton()">
                <p id=form-prompt><b>EFFETTUA LA PREDIZIONE CON UNO DEI METODI DEL CF</b></p>
                <input class="inp" type="radio" name="metodo" value="userTop10" checked>
                <label>user based top 10</label><br>
                <input class="inp" type="radio" name="metodo" value="userSuperioriAK" checked>
                <label>user based utenti con similarità maggiore di {{sim}}</label><br>
                <input class="inp" type="radio" name="metodo" value="item">
                <label>item based</label><br>
                <input class="inp" type="radio" name="metodo" value="userNoMean">
                <label>user based without mean rating</label><br>
                <div>
                    <button type="submit" class="btn" onclick="loading_circle()">PREDIZIONE</button>
                </div>
              </form>
            <div id="containerLoadingCircle" style="display: none; padding-top: 10px;" align="center">
                <div class="loader" id="loader" align="center"></div> 
                <div align="center">
                    <p>
                        il sistema sta calcolando una predizione per l'utente {{utente}}.<br>
                        Se credi che il tempo di computazione sia troppo, <a class="btn" href="{{ url_for('spiegazione') }}">visualizza</a> come avviene la computazione
                    </p>
                </div> 
            </div> 

              <hr style="border: 1px solid lightblue;">

              <form style="padding-bottom: 10px; padding-top: 10px;" id="form" action="/selezionaUtente" method="post" onsubmit="disableButton()">
                <p id=form-prompt><b>PROVA CON UN ALTRO UTENTE</b></p>

                <label for="idUtente">ID utente:</label>
                <input type="number" min="1" max="610"  id="idUtente" name="idUtente">
                <input type="submit" value="VISUALIZZA" class="btn" />
              </form>

              <hr style="border: 1px solid lightblue;">
              <p style="padding-bottom: 10px; padding-top: 10px;" id=form-prompt><b><a class="btn" href="{{ url_for('spiegazione') }}">SCOPRI</a> COME AVVIENE LA PREVISIONE DEI RATING</b></p>
              <hr style="border: 1px solid lightblue;">
              <p style="padding-bottom: 10px; padding-top: 10px;" id=form-prompt><b>
                CLICCA IL BOTTONE PER EFFETTUARE LA VALUTAZIONE DEL SISTEMA
                <form action= {{ url_for('valutazione') }} method="POST" onsubmit="loading_circleValutazione();disableButton()">
                      <input type="submit" value="VALUTA" class="btnn btn" />
                </form>
              <div id="containerLoadingCircleValutazione" style="display: none; padding-top: 10px;" align="center">
                <div class="loader" id="loader" align="center"></div> 
                <div align="center">
                    <p>
                        il sistema sta effettuando la valutazione del sistema di raccomandazione<br>
                        Se credi che il tempo di computazione sia troppo, <a class="btn" href="{{ url_for('spiegazione') }}">visualizza</a> come avviene la valutazione
                    </p>
                </div> 
                </div> 
                <hr style="border: 1px solid lightblue;">
                <p style="padding-bottom: 10px; padding-top: 10px;" id=form-prompt><b><a class="btn" href="https://github.com/mariocuomo/progettoSII">REPOSITORY</a> GITHUB</b></p>
                <hr style="border: 1px solid lightblue;">

              <form action="/" style="padding-bottom: 10px; padding-top: 10px;">
                <input type="submit" value="TORNA ALLA HOMEPAGE" class="btn"/>
              </form>
              <hr style="border: 1px solid lightblue;">

              <div>
                <img align="center" class="avatar" src="{{ url_for('static',filename='images/boy.png') }}" alt="Avatar" class="avatar" width="40%">
                <p>
                    Vuoi scoprire delle predizioni per te?<br>
                    <form action= {{ url_for('nuovoUtente') }} method="POST" onsubmit="disableButton()">
                      <input type="submit" value="Sì" class="btnn btn" />
                  </form>
                </p>

              </div>
        </div>
      </div>
    </div>

</body>
</html>