<!DOCTYPE html>                    
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	<link href="{{ url_for('static',filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="{{url_for('static', filename='functions.js')}}"></script>

	<title>SUGGERIMENTI DI RATING</title>
    <script type="text/javascript">
        function disableButton() {
            lst = document.getElementsByClassName('btn');
            for (const x of lst) {
                x.disabled = true;
                x.removeAttribute('href');
            }

            lst = document.getElementsByClassName('inp');
            for (const x of lst) {
                x.setAttribute('readonly', true);
            }
        }
    </script>
    <style>
    .loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>
</head>
<body>
	<div class="row">
		<div class="column left">
			<form action="/">
				<input type="submit" value="TORNA AL SISTEMA" class="btn"/>
			</form>
		</div>
        <div class="column middle" >
            <div align="center">
                <p style="font-size: 18px;">
                Purtroppo non conoscendo ancora i tuoi gusti ti chiedo di valutare i seguenti film.<br>
                Quelli che vedi sono i film con maggiore <i><b>entropia</b></i>, ovvero quei film che hanno dei rating molto contrastanti tra loro.<br>
                <b>Inserisci una votazione da 1 a 5 - dove 0 indica il fatto di non aver visto quel film</b>
                </p>
            </div>

            <div align="center" style="border-right: 5px solid lightblue;border-left: thin solid lightblue; border-top: thin solid lightblue; border-bottom: thin solid lightblue;">
                <form action="/previsioniPerTe" name="ratings" onsubmit="loading_circle();disableButton()" method="post">
                    {%for i in range(0, len)%}
                    <div>
                        <p>
                            <b>TITOLO</b><br>
                            {{suggestions[i][1]}}<br>
                            <b>GENERE</b><br>
                            {{suggestions[i][3]}}<br>
                            <label for={{suggestions[i][0]}}>VOTO:</label>
                            <input type="number" min="0" max="5"  id={{suggestions[i][0]}} name={{suggestions[i][0]}} class="inp" value="0">
                        </p>
                        <hr style="border: thin solid rgba(10, 132, 231, 0.11);" >
                    <div>
                    {%endfor%}
                    <input type="submit" value="PREDIZIONE" class="btn" />
                </form>
                
                <div>
                    <div id="containerLoadingCircle" style="display: none; padding-top: 10px;" align="center">
                        <div class="loader" id="loader" align="center"></div> 
                        <div align="center">
                            <p>
                                il sistema sta effettuando una predizione per te...
                            </p>
                        </div> 
                    </div> 
                </div>
            </div>
        </div>
		<div class="column right">
		</div>
	</div>
</body>
</html>