<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>SPIEGAZIONE</title>
	<link href="{{ url_for('static',filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	<script src="{{url_for('static', filename='spiegazione.js')}}"></script>

	<style>
		h3 { display: inline; }

		table {
		border-collapse: collapse;
		width: 100%;
		}

		td, th {
		border: 1px solid black;
		text-align: center;
		padding: 8px;
		}

		tr:nth-child(even) {
		background-color: #dddddd;
		}

		.middle {
		box-sizing: border-box;
		height: fit-content;
		}
		
		.column {
		float: left;
		padding: 10px;
		}
		
		.left, .right {
		width: 25%;
		height: 300px;
		}
		
		.middle {
		width: 50%;
		}
		
		.row:after {
		content: "";
		display: table;
		clear: both;
		}
		</style>
</head>
<body>
	<div class="row">
		<div class="column left">
			<form action="/">
				<input type="submit" value="TORNA AL SISTEMA"/>
			</form>
		</div>
		<div class="column middle" style="border-right: 5px solid lightblue;border-left: thin solid lightblue; border-top: thin solid lightblue; border-bottom: thin solid lightblue;">
			<div align="center">
				<h2>RECOMMENDER SYSTEM COLLABORATIVE FILTERING</h2>
			</div>

			<p>
				<h3>INTRODUZIONE</h3>
				<a onclick="javascript:showIntroduzione()" id="introduzione_hide" style="cursor: pointer;">[+]</a>
			</p>
			<div style="display: none;" id="introduzione">
				I sistemi di raccomandazione sono una particolare applicazione dell'<b>Information Retrieval</b>.<br>		
				<i>Gerard Salton</i> nel 1968 ci fornisce una definizione molto semplice - e ancora attuale - di quella che è l'IR.
				<br>

				<p align="center">
					<b>L'Information Retrieval è tutto ciò che si occupa dell'analisi, struttura, organizzazione, memorizzazione e recupero dell'informazione.</b>
				</p>
				<br>

				I sistemi di raccomandazione pongono il focus sul recupero dell'informazione e sull'<b>Information Filtering</b>.<br>
				L'idea è quella di avere un sistema che possa fornire delle raccomandazioni quanto più personalizzate e soddisfacenti agli utenti diminuendo l'<i>information overload</i>.<br>
				Un caso tipico di applicazione è la raccomandazione di prodotti da acquistare: l'utente può trovarsi davanti a una <i>paralisi decisionale</i> non sapendo che prodotto scegliere.<br>
				Altro caso d'uso - sempre in ambito ecommerce - è il suggerimento di prodotti non specificatamente cercati dall'utente che però risultano essere piacevoli all'utente manifestando la serendipità.
				<br>
				
				<p>
					Tra i vari approcci per effettuare una raccomandazione, il primo a essere realizzato è stato quello del <b>collaborative filtering</b>.<br>
					Il principio alla base è molto semplice: sfruttare l'opinione di molte persone online per effettuare delle raccomandazioni ai singoli utenti.
				</p>
			</div>

			<hr style="border: thin solid rgba(10, 132, 231, 0.11);" >

			<p>
				<h3>CASO D'USO</h3>
				<a onclick="javascript:showcasoduso()" id="casoduso_hide" style="cursor: pointer;">[+]</a>
			</p>
			<div style="display: none;" id="casoduso" dotted>
				Il caso d'uso presentato considera la realizzazione di un sistema di raccomandazione per suggerire dei film a un utente.<br>
			Il dataset usato è quello di <a href="https://grouplens.org/datasets/movielens/">MovieLens</a> <i>(ml-latest-small)</i>
			<p>
				<b>Descrizione dataset</b><br>
				NUMERO DI UTENTI: 600<br>
				NUMERO DI FILM: 9.000<br>
				NUMERO DI RATING: 100.000<br>
			</p>


			<table>
				<tr>
				<th>userId</th>
				<th>movieId</th>
				<th>rating</th>
				</tr>
				<tr>
				<td>1</td>
				<td>1</td>
				<td>4</td>
				</tr>
				<tr>
				<td>6</td>
				<td>3</td>
				<td>4</td>
				</tr>
				<tr>
				<td>21</td>
				<td>6</td>
				<td>4</td>
				</tr>
				<tr>
				<td>1</td>
				<td>47</td>
				<td>5</td>
				</tr>
			</table>

			<p>
				Il sistema presenta due metodi differenti per effettuare una raccomandazione
				<ul>
					<li><b>user based</b><br>
					dato un utente target si identificano gli utenti simili ad esso, si vede come hanno valutato i film che l'utente target non ha ancora visionato e si propongono quelli che sono stati più graditi agli utenti simili
				</li>
					<li><b>item based</b><br>
					dato un utente target si trovano i film più simili - considerando i rating dati dagli utenti - di ogni film ancora non valutato e si propongono quelli che sono più simili ai film che sono stati graditi dall'utente target
				</li>
				</ul>
			</p>
			</div>

			<hr style="border: thin solid rgba(10, 132, 231, 0.11);" >

			<p>
				<h3>APPROCCIO USER-BASED</h3>
				<a onclick="javascript:showUserBased()" id="userBased_hide" style="cursor: pointer;">[+]</a>
			</p>
			<div style="display: none;" id="userBased">
				<p>L'approccio <i>user-based</i> è un metodo di raccomandazione che sfrutta la similarità degli utenti.<br>
					In input si ha la <i>rating matrix</i>: una matrice in cui nella cella <b>(i,j)</b> è salvato il voto dato dall'utente <b>i</b> al film <b>j</b>.
				</p>

				<table>
					<tr>
					<th></th>
					<th>movieId 1</th>
					<th>movieId 2</th>
					<th>movieId 3</th>
					<th>...</th>
					<th>movieId m</th>
					</tr>
					<tr>
					<td><b>userId 1</b></td>
					<td>1</td>
					<td>4</td>
					<td>2</td>
					<td>...</td>
					<td>5</td>
					</tr>
					<tr>
					<td><b>userId 2</b></td>
					<td></td>
					<td>3</td>
					<td>1</td>
					<td>...</td>
					<td>2</td>
					</tr>
					<tr>
					<td><b>userId 3</b></td>
					<td>2</td>
					<td></td>
					<td></td>
					<td>...</td>
					<td>5</td>
					</tr>
					<tr>
						<td><b>...</b></td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					<tr>
						<td><b>userId n</b></td>
						<td>1</td>
						<td>2</td>
						<td>5</td>
						<td>...</td>
						<td></td>
					</tr>
				</table>

				<p>
					Per effettuare la raccomandazione all'utente <i>i</i> si effettuano le seguente operazioni:
					<ol>
						<li>
							<p>
							si identificano gli utenti <i>simili</i> all'utente <i>i</i>.<br>
							Si utilizza come misura di similarità la <b>Pearson Similarity</b> la cui formula è la seguente.
							
							<div align="center">
								<img src="{{ url_for('static',filename='images/pearson.png') }}" style="padding-top: 25px; padding-bottom: 25px;width: 100%;">
							</div>
							<br>dove <i><b>P</b></i> è l'insieme degli item valutati sia da <i><b>a</b></i> che da <i><b>b</b></i> e <i><b>r</b> segnato</i> è il voto medio dell'utente considerato.
						</p>
						</li>
						
						<li>
							<p>
							si considera un sottoinsieme degli utenti più simili all'utente <i>target</i>.<br>
							La scelta può essere dei <i>top k</i> o di tutti quelli che superano una certa soglia <i>t</i> di similarità.
							</p>
						</li>

						<li>
							<p>
							per ogni film non ancora visionato dall'utente <i>target</i> si combinano i rating dati dagli utenti simili.<br>
							Per la predizione si utilizza la seguente formula.

							<div align="center">
								<img src="{{ url_for('static',filename='images/predizione_user.png') }}" style="padding-top: 25px; padding-bottom: 25px;width: 100%;">
							</div>
							<br>dove <i><b>N</b></i> è l'insieme degli utenti più simili ad <i><b>a</b></i>.
							</p>
						</li>

						<li>
							<p>
							si mostrano all'utente i film con rating ipotizzato maggiore. 
							</p>
						</li>
					</ol>
				</p>
			</div>

			<hr style="border: thin solid rgba(10, 132, 231, 0.11);" >


			<p>
				<h3>APPROCCIO ITEM-BASED</h3>
				<a onclick="javascript:showItemBased()" id="itemBased_hide" style="cursor: pointer;">[+]</a>
			</p>
			<div div style="display: none;" id="itemBased">
				<p>L'approccio <i>item-based</i> è un metodo di raccomandazione che sfrutta la similarità degli item.<br>
					In input si ha la <i>rating matrix</i>: una matrice in cui nella cella <b>(i,j)</b> è salvato il voto dato dall'utente <b>i</b> al film <b>j</b>.
				</p>

				<table>
					<tr>
					<th></th>
					<th>movieId 1</th>
					<th>movieId 2</th>
					<th>movieId 3</th>
					<th>...</th>
					<th>movieId m</th>
					</tr>
					<tr>
					<td><b>userId 1</b></td>
					<td>1</td>
					<td>4</td>
					<td>2</td>
					<td>...</td>
					<td>5</td>
					</tr>
					<tr>
					<td><b>userId 2</b></td>
					<td></td>
					<td>3</td>
					<td>1</td>
					<td>...</td>
					<td>2</td>
					</tr>
					<tr>
					<td><b>userId 3</b></td>
					<td>2</td>
					<td></td>
					<td></td>
					<td>...</td>
					<td>5</td>
					</tr>
					<tr>
						<td><b>...</b></td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					<tr>
						<td><b>userId n</b></td>
						<td>1</td>
						<td>2</td>
						<td>5</td>
						<td>...</td>
						<td></td>
					</tr>
				</table>

				<p>
					Per effettuare la raccomandazione all'utente <i>i</i> si effettuano le seguente operazioni:
					<ol>
						<li>
							<p>
							per ogni item non visionato dall'utente <i>target</i> si calcola la similarità con gli altri item.<br>
							Si utilizza come misura di similarità la <b>Cosine Similarity</b> la cui formula è la seguente.
							
							<div align="center">
								<img src="{{ url_for('static',filename='images/cosine.png') }}" style="padding-top: 25px; padding-bottom: 25px;width: 60%; height: 80%; align-content: center;">
							</div>
							<br>dove <i><b>a</b></i> e <i><b>b</b></i> sono due vettori che rappresentano le cui componenti sono i rating a loro assegnati.
						</p>
						</li>
						
						<li>
							<p>
							per ogni item si considera un sottoinsieme degli item più simili ad esso.<br>
							La scelta può essere dei <i>top k</i> o di tutti quelli che superano una certa soglia <i>t</i> di similarità.
							</p>
						</li>

						<li>
							<p>
							per ogni film non ancora visionato dall'utente <i>target</i> si combinano i rating dati dall'utente agli item più simili a questo<br>
							Per la predizione si utilizza la seguente formula.
							
							<div align="center">
								<img src="{{ url_for('static',filename='images/predizione_item.png') }}" style="padding-top: 25px; padding-bottom: 25px;width: 100%;">
							</div>
							<br>dove <i><b>ratedItems</b></i> è l'insieme degli item valutati dall'utente.
							</p>
						</li>

						<li>
							<p>
							si mostrano all'utente i film con rating ipotizzato maggiore. 
							</p>
						</li>
					</ol>
				</p>
			</div>

			<hr style="border: thin solid rgba(10, 132, 231, 0.11);" >

			<p>
				<h3>APPROCCIO USER-BASED WITHOUT MEAN RATE</h3>
				<a onclick="javascript:showNoMean()" id="noMean_hide" style="cursor: pointer;">[+]</a>
			</p>
			<div div style="display: none;" id="noMean">
				<p>L'approccio <i>user-based without mean rating</i> è un metodo di raccomandazione che sfrutta la similarità degli utenti.<br>
					In input si ha la <i>rating matrix</i>: una matrice in cui nella cella <b>(i,j)</b> è salvato il voto dato dall'utente <b>i</b> al film <b>j</b>.
				</p>

				<table>
					<tr>
					<th></th>
					<th>movieId 1</th>
					<th>movieId 2</th>
					<th>movieId 3</th>
					<th>...</th>
					<th>movieId m</th>
					</tr>
					<tr>
					<td><b>userId 1</b></td>
					<td>1</td>
					<td>4</td>
					<td>2</td>
					<td>...</td>
					<td>5</td>
					</tr>
					<tr>
					<td><b>userId 2</b></td>
					<td></td>
					<td>3</td>
					<td>1</td>
					<td>...</td>
					<td>2</td>
					</tr>
					<tr>
					<td><b>userId 3</b></td>
					<td>2</td>
					<td></td>
					<td></td>
					<td>...</td>
					<td>5</td>
					</tr>
					<tr>
						<td><b>...</b></td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
						<td>...</td>
					</tr>
					<tr>
						<td><b>userId n</b></td>
						<td>1</td>
						<td>2</td>
						<td>5</td>
						<td>...</td>
						<td></td>
					</tr>
				</table>

				<p>
					Per effettuare la raccomandazione all'utente <i>i</i> si effettuano le seguente operazioni:
					<ol>
						<li>
							<p>
							si crea la matrice di similarità <i>n</i><span>&#215;</span><i>n</i> - con <i>n</i> numero di utenti.<br>
							Nella cella <b>(i,j)</b> è salvata la similarità tra l'utente <b>i</b> e l'utente <b>j</b><br>
							Si utilizza come misura di similarità la <b>Pearson Similarity</b>.
						</p>
						</li>
						
						<li>
							<p>
							si effettua il prodotto matriciale tra la la matrice di similarità e la rating matrix<br>
							<div align="center">
								<img src="{{ url_for('static',filename='images/nomeans.png') }}" style="padding-top: 25px; padding-bottom: 25px;width: 100%;">
							</div>

							Si ottiene una matrice <i>m</i><span>&#215;</span><i>n</i> - con <i>m</i> numero di film.<br>
							Nella cella <b>(i,j)</b> è salvata il voto predetto dall'utente <b>i</b> all'item <b>j</b><br>
							</p>
						</li>

						<li>
							<p>
							Si selezionano i rating predetti dell'utente <i>target</i> mostrando i film con rating maggiore. 
							</p>
						</li>
					</ol>
				</p>
			</div>

			<hr style="border: thin solid rgba(10, 132, 231, 0.11);" >

			<p>
				<h3>PREVISIONE PER TE</h3>
				<a onclick="javascript:showPerTe()" id="perte_hide" style="cursor: pointer;">[+]</a>
			</p>
			<p style="display: none;" id="perte" >
				Uno dei problemi principali di quando si utilizza il metodo del collaborative filtering è il <i><b>cold start</b></i>: non si sa come trattare nuovi item e/o nuovi utenti.<br>
				Si consideri a titolo di esempio l'approccio user based: per effettuare una raccomandazione per l'utente <i>x</i> si cercano gli utenti simili ad esso sulla base dei film valutati da entrambi. Se l'utente <i>x</i> è nuovo nel sistema non ha espresso ancora preferenze e quindi non si sa come trattarlo.<br> 
				Una strategia semplice potrebbe essere quella del <i><b>best first</b></i>: non conoscendo i gusti dell'utente si mostrano i film che sono stati più graditi dagli utenti.<br>
				Un'altra strategia è invece quella di richiedere dei rating preliminari all'utente di film <i><b>entropici</b></i> - ovvero film i cui pareri dati sono molto contrastanti tra loro. Questi sono i film con maggiore contenuto informativo. 
			</p>

		</div>
		<div class="column right">
			<p style="color:grey;font-size:10px; writing-mode: tb-rl;">credit ©Mario Cuomo</p>
		</div>
	</div>
</body>
</html>